/*=============================*/
/*        BODY                 */
/*=============================*/
body {
    background-color: var(--color-background);
    font-family: var(--font-main);
    user-select: none;

}


a {
    text-decoration: none;
    color: inherit;
}

/*=============================*/
/*        HEADER               */
/*=============================*/

.header__container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: var(--color-header);



}

.header__container span {
    color: var(--color-main);
    font-size: 2.5rem;
    font-weight: bold;
    background: linear-gradient(90deg,
            #00c6a7 0%,
            #bfdfdd 50%,
            #00c6a7 100%);
    background-size: 200%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: background-position 0.7s ease;

}

.header__container span:hover {
    background-position: 200%;
    cursor: pointer;
}


.header__logo {
    text-align: center;
}

.header__logo img {
    max-width: 60%;
    height: auto;
}

/*=============================*/
/*        NAV               */
/*=============================*/

.nav__container {
    margin-top: 1rem;
    text-align: center;
    justify-items: center;
    position: relative;


}

.nav__container ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 3rem;


}

.nav__btns {
    position: absolute;
    right: 1rem;
    top: 50%;
    transform: translateY(-50%);


}

.nav__change-theme {
    position: absolute;
    left: 1rem;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 1rem;
    padding-bottom: 0.5rem;

}

.nav__btns button {

    font-size: 0.8rem;
    margin: 0.10rem 0.15rem 0 0.15rem;
}


.nav__list {
    color: var(--color-main);

}

.nav__list li {
    font-size: 1.15rem;
    transition: transform 0.3s ease;
}

.nav__list li:hover {
    transform: scale(1.25);
}

/*=============================*/
/*        TILE               */
/*=============================*/

.title__container {
    margin-top: 2.5rem;
}

.shiny-text {
    font-weight: bold;
    background: linear-gradient(90deg,
            #00c6a7 0%,
            #bfdfdd 50%,
            #00c6a7 100%);
    background-size: 200%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: background-position 0.7s ease;
}

.shiny-text:hover {
    background-position: 200%;
    cursor: pointer;
}

/*=============================*/
/*        CAROUSEL               */
/*=============================*/
.carousel__container {
    display: flex;
    justify-content: center;
    position: relative;
    width: 95%;
    margin: auto;
    margin-top: 2.1rem;
    margin-bottom: 1rem;
    overflow: hidden;
    height: 50rem;
    border: 1px #bfdfdd hidden;
    border-radius: 20px;

}

.carousel__track {
    display: flex;
    width: 100%;
    transition: transform 0.5s ease-in-out;
}

.carousel__image {
    display: flex;
    min-width: 100%;
    object-fit: cover;

}



.carousel__btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.4);
    color: var(--color-main);
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    padding: 0.5rem 1.2rem;
    border-radius: 20px;
    transition: all 0.3s;
}

.carousel__btn:hover {
    background: rgba(15, 15, 15, 0.863);
    font-size: 2rem;
}

.carousel__btn.prev {
    left: 15px;
}

.carousel__btn.next {
    right: 15px;
}

.carousel__dots {
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 0.7rem;
}

.carousel__dots button {
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    border: none;
    background-color: rgba(255, 255, 255, 0.5);
    cursor: pointer;
    transition: all 0.3s;
}

.carousel__dots button:hover {
    background-color: var(--color-main, #00C6A7);
}

.carousel__dots button.active {
    background-color: var(--color-main, #00C6A7);
}

/*=============================*/
/*        MAIN TEXT               */
/*=============================*/

.text__container{
color: var(--color-main);
padding: 3rem 7rem 3rem 7rem;
letter-spacing: 1.5px;
text-align: center;
word-spacing: 2px;
line-height: 1.4;
text-indent: 1rem;

}

.text__container h2{
    margin: 0.5rem;
}

/*=============================*/
/*        FOOTER               */
/*=============================*/

.footer__container {
    padding: 0.3rem;
    background-color: var(--color-background-glass);
    text-align: center;
}

.footer__text {
    font-size: small;
    color: var(--color-main);
}