DATABASE_URL=PostgreSQL Database URL

# Configuração de e-mail (para função de redefinição de senha)
EMAIL_USER=Seu endereço de e-mail
EMAIL_PASSWORD=Senha do app de e-mail (não a senha real)

# API
API_URL=ex: http://localhost:5000

# Secret
JWT_SECRET=Segredo para JWT

#Ambiente
NODE_ENV=production or development
