/* ===================== */
/* BODY CENTRALIZED FORM   */
/* ===================== */
body {
    font-family: var(--font-main);
    background-color: var(--color-background);
    display: flex;
    flex-direction: column;
    align-items: center;
    user-select: none;
}


/* ===================== */
/*       FORM CONTAINER  */
/* ===================== */
.form__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: var(--color-background-glass);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    margin-top: 2rem;
    padding-top: 2rem;
    padding-left: 3rem;
    padding-right: 3rem;
    padding-bottom: 5rem;
    border-radius: 15px;
}

/* ===================== */
/*       FORM FIELDS     */
/* ===================== */
.form__field {
    display: flex;
    flex-direction: column;
    padding: 0.5rem;

}

.form__field label {
    text-transform: uppercase;
    color: var(--color-main);
    font-style: italic;
    margin-bottom: 1rem;
}

.form__field input {
    width: 17rem;
    background-color: rgba(255, 255, 255, 0.05);
    color: var(--color-text-input);

    font-family: "Poppins", sans-serif;
    font-size: 0.95rem;
    letter-spacing: 0.5px;
    text-align: center;

    padding-top: 0.3rem;
    padding-bottom: 0.3rem;

    border: 1px solid var(--color-border-input);
    border-radius: 5px;
    transition: transform 0.3s ease;

    outline: none;
}

.form__field input::placeholder {
    font-style: italic;
}

.form__field input:focus {
    border-color: var(--color-main);
    background-color: rgba(255, 255, 255, 0.1);
    transform: scale(1.05);
}

.form__field input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px var(--color-background-glass) inset;
    -webkit-text-fill-color: var(--color-text-input);
    transition: background-color 5000s ease-in-out 0s;
}



/* ===================== */
/*     FORGOT PASSWORD   */
/* ===================== */
.forgot-password {
    display: inline-block;
    font-size: small;
    color: var(--color-main);
    transition: transform 0.3s ease, color 0.15s ease;
}

.forgot-password:hover {
    transform: scale(1.07);
    cursor: pointer;
}

.forgot-password:active {
    color: aliceblue;
}

/* ===================== */
/*     ERROR MESSAGE   */
/* ===================== */

.error-message {
    margin-top: 3px;
    font-size: small;
    color: rgb(230, 69, 69);
    font-style: italic;
}

/* ===================== */
/*     SHOW PASSWORD   */
/* ===================== */

.password__wrapper {
    position: relative;
}

.show-password-icon {
    cursor: pointer;
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    color: var(--color-main);
    transition: transform 0.3s ease;
}

.show-password-icon:active {
    transform: scale(1.2);
}

.show-password-icon.unhidden {
    color: var(--text-active);
}